{% block render_sidebar %}
<ul id="nav-accordion">
    {% for item in sidebar_items %}
    <li class="sub-menu">
        <a href="{{ item.url }}" class="{% if item.active %}active{% endif %}">
            {% if item.icon %}
            <i class="{{ item.icon }}"></i>
            {% endif %}
            <span>{{ item.label }}</span>
        </a>
        {% if item.sub_menu %}
        <ul class="sub">
            {% for sub_item in item.sub_menu %}
            <li>
                <a href="{{ sub_item.url }}" class="{% if sub_item.active %}active{% endif %}">
                    {{ sub_item.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
